.header {
    background-color: rgb(41, 37, 37);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 5px solid greenyellow;

}
#contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 155px;
    position: absolute;

}
button {
    width: 150px;
    height: 25px;
}
button:hover {
    background-color: yellowgreen;
}
.info {
    position: absolute;
    display: flex;
    align-items: flex-end;
    
}